@model IEnumerable<Test1.ViewModel.ProductVM>

@{
    ViewBag.Title = "Product_Management";
 
}


<link rel="stylesheet" href="~/css/customer.css" type="text/css" />
<body>
<h1>Product Management</h1>

<p>
    @*<a asp-action="AddOrEdit" asp-route-id="" >Add New Product</a>*@
      <a onclick="showInPopUp('@Url.Action("AddOrEdit","Product","",Context.Request.Scheme)','Add Product')">Add New Product</a>
</p>

<div id="view-all">
    @await Html.PartialAsync("_ViewAll",Model)
</div>

@*<script src="~/js/IndexCustomer.js"></script>*@
</body>



