@model System.Collections.Generic.List<Test1.ViewModel.SocialIcon>
<style>    
    .main-div {    
        margin-bottom: 20px;    
        padding-bottom: 20px;    
    }    
</style>  
<div class="col-md-12" style="padding-left:10px;">    
    @foreach (var icon in Model)    
    {    
        <a style="background:@icon.IconBgColor ; padding: 5px;margin: 5px;color: white;" href="@icon.IconTargetUrl">    
            <i class="@icon.IconClass"></i>    
            @icon.IconName    
        </a>    
    }
</div>     